[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "==7.1.2"
pytest-cov = "==3.0.0"
behave = "==1.2.6"
pexpect = "==4.8.0"
build = "==0.7.0"


